stages:
  - build
  - test
  - deploy

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DBNAME: "test_db"

default:
  image: docker:25-cli
  services:
    - name: docker:25-dind
      alias: docker

build-job:
  stage: build
  script:
    - docker info
    - docker build -t api:latest .

test-job:
  stage: test
  image: python:3.11
  services:
    - name: postgres:16
      alias: db
  variables:
    LOGIN_USER: "postgres"
    PASSWORD: "root"
    SERVERNAME: "db"
    DBNAME: "test_db"
    DRIVER: "asyncpg"
    SECRET_KEY: "f3b3cc4586e4d7a177623f5603ad6f54"
    ALGORITHM: "HS256"
    ACCESS_TOKEN_EXPIRE_MINUTES: "30"
  before_script:
    - pip install -r requirements.txt
    - cd backend
  script:
    - pytest -s -v


deploy-job:
  stage: deploy
  script:
    - apk add --no-cache py3-pip
    - pip3 install docker-compose
    - docker compose up -d --build
