stages:
  - build
  - test
  - deploy


build-job:
  stage: build
  script:
    - docker build .

test-job:
  stage: test
  script:
    - docker run --rm api db pytest -s -v
  variables:
    DBNAME: "test_db"

deploy-job:
  stage: deploy
  script:
    - docker compose up -d
