stages:
  - build
  - test
  - deploy

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DBNAME: "test_db"

default:
  image: docker:stable
  services:
    - name: docker:stable-dind
      alias: docker

build-job:
  stage: build
  script:
    - docker info
    - docker build --platform linux/amd64 -t api:latest .

test-job:
  stage: test
  services:
    - name: postgres:16
      alias: db
  variables:
    POSTGRES_DB: test_db
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: root
  script:
    - docker run --rm --network host -e DBNAME=$DBNAME api:latest pytest -s -v

deploy-job:
  stage: deploy
  script:
    - apk add --no-cache py3-pip
    - pip3 install docker-compose
    - docker compose up -d --build
